*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: #042953;
    color: white;
    height: 5rem;
    border-radius: 20rem;
    line-height: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
 
.choice{
    height: 165px;
    width: 165px;
}

img{
  height: 150px;
    width: 150px;  
   border-radius: 50%;
}

.choices{
 display: flex;   
 justify-content: center;
 align-items: center;
 gap: 3rem;
 margin-top: 5rem;
}

.choice:hover {
    opacity: 0.75 ;
    cursor: pointer;
    transform: scale(1.2)  rotate(5deg);
     transition: transform 0.3s;

}

.score-board{
 display: flex;   
 justify-content: center;
 align-items: center;
 font-size: 2rem;
 margin-top: 3rem;
 gap: 6rem;
}

#user-score , #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 4rem;;
}
#msg{
    background-color: rgb(102, 0, 117) ;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 2.5rem

}